<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dekh Lo Isko</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        @media only screen   
        and (min-device-width : 768px)   
        {
            body{
                padding: 40px 0px 20px 0px;
            }
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h2>Image classification</h2>
    </div>
    <div class="ml-auto mr-auto mt-4 col-sm-6">
        <form action="result" enctype="multipart/form-data" onsubmit="return exitFn()" method="POST">
            <div class="form-group">
                <input type="file" id="my_file" class="form-control" name="my_file" onchange="readURL(this);">
            </div>        
            <div class="form-group text-center">
                <img id="blah" />
            </div>        
            <div class="form-group text-center">
                <input id="submit" type="submit" class="btn btn-success" value="Submit">
                <img id="loading" src="http://localhost:8000/static/loading.svg">
            </div>        
        </form>
    </div>
</body>
<script>
    $("#loading").hide()

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    function exitFn(){
        if($("#my_file").val()==''){
            alert("EMPTYY IMG!!")
            return false;
        }
        $("#submit").hide()
        $("#loading").show()
    }
</script>
</html>